{% extends "base.html.twig" %}

{% block title %}Metrics{% endblock %}

{% block body %}
    <h1>Metrics</h1>
    <p>Blablab, lite intro</p>

    <h2>Introduktion</h2>
    <p>Blablab, lite intro</p>

    <h2>Phpmetrics</h2>
    <p>Blablab, lite intro</p>

    <h2>Scrutinizer</h2>
    <p>Blablab, lite intro</p>

    <h2>6C</h2>
    <p>Blablab, lite intro</p>

    <h2>Förbättringar</h2>
    <p>Blablab, lite intro</p>

    <h2>Diskussion</h2>
    <p>Blablab, lite intro</p>
{% endblock %}