<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital@0;1&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

        <style>
            .body__proj {
                background-color: #F5F5F6;
                font-family: 'Inter Tight', sans-serif;
                font-weight: 400;
            }

            .container__proj {
                max-width: 1300px;
                margin: 0 auto;
                padding: 0rem 3rem;
                display: flex;
                flex-direction: column;
                gap: 6rem;
            }

            .container__content {
                max-width: 70ch;
                display: flex;
                flex-direction: column;
                gap: 3rem;
            }

            .header__proj {
                padding: 6rem 0rem;
            }

            .container__proj.container__proj--center {
                display: flex;
                justify-content: flex-start;
            }

            .title {
                max-width: 50ch;
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }

            .footer__proj {
                padding: 6rem 0rem 3rem 0rem;
            }

            .section__proj {
                padding: 6rem 0rem;
            }

            .section__proj.section__proj--start {
                padding: 0rem 0rem 6rem 0rem;
            }

            .h1__proj, 
            .h2__proj, 
            .h3__proj {
                font-family: 'Merriweather', serif;
                font-weight: 300;
                font-style: italic;
            }

            .nav__proj {
                padding: 2rem 0rem;
            }
        </style>
    </head>
    <body class="body__proj">
        <div class="container__proj">
            <nav class="nav__proj">
                <a href="/">Hem</a>
                <a href="/">Om</a>
            </nav>
        </div>
        
        {% block body %}{% endblock %}

        <footer class="footer__proj">
            <div class="container__proj">Kmom10 — 2023</div>
        </footer>
    </body>
</html>
