<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header class="header">
                <span class="title">rogr19</span>
            </header>
            <nav>
                Nav
            </nav>
            
                {% block body %}{% endblock %}
            <footer>Robin 2023</footer>
        </div>
    </body>
</html>
