<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </head>
    <body>
        <nav class="nav__proj">
            <div class="container__proj">Nav</div>
        </nav>

        <header class="header__proj">
            <div class="container__proj container__proj--center">
                <div class="title">
                    <h1>Indikatorer för hållbarhet — God hälsa och välbefinnande</h1>
                    <p>Robin Granqvist — 2023</p>
                </div>
            </div>
        </header>
        
        {% block body %}{% endblock %}

        <footer class="footer__proj">
            <div class="container__proj">Kmom10 — 2023</div>
        </footer>
    </body>
</html>
