{% extends "proj/base.html.twig" %}

{% block title %}Indikatorer för hållbarhet — God hälsa och välbefinnande{% endblock %}

{% block body %}
  <header class="header__proj">
      <div class="container__proj container__proj--center">
          <div class="title">
              <h1 class="h1__proj">Indikatorer för hållbarhet — God hälsa och välbefinnande</h1>
              <p>Robin Granqvist — 2023</p>
          </div>
      </div>
  </header>

  <section class="section__proj section__proj--start">
    <div class="container__proj">
      <div class="container__content">
        <div class="content__block">
          <h2 class="h2__proj">Introduktion</h2>

          <p>
            Ett av de 17 globala målen för hållbar utveckling i världen
            handlar om befolkningens hälsa och välbefinnande. Inom detta område 
            finns ett antal delmål som man vill uppfylla, bl.a. gällande 
            bekämpning av smittosamma sjukdomar, upprättning av varningssystem 
            för globala hälsorisker och förebyggande av drogmissbruk 
            <a href="https://www.globalamalen.se/om-globala-malen/mal-3-halsa-och-valbefinnande/">(Globalamalen.se, 2022)</a>. 
          </p>

          <p>
            I denna lilla statistikanalys skall vi dock ta och titta närmare 
            på hur statistiken ser ut gällande de senaste årenns bekämpning av 
            folksjukdomar samt spädbarnsdödlighet. All data är hämtad från webbplatsen
            <a href="https://www.globalamalen.se/om-globala-malen/mal-3-halsa-och-valbefinnande/">Globalamålen.se.</a>
          </p>

          <p>
            I statistiken inkluderas och jämförs data från både hela världen, 
            samt avgränsat till Sverige som land. Dessa presenteras punkt för 
            punkt med hjälp av korta texter samt visuella grafer. All statistik 
            innehåller data för både män och kvinnor mellan 30-70 år gamla.
          </p>
        </div>

        <div class="content__block">
          <h2 class="h2__proj">Dödlighet av hjärt- och kärlsjukdomar, cancer, diabetes och kronisk luftvägssjukdom</h2>
          
          <p>
            <a href="https://www.who.int/teams/noncommunicable-diseases/invisible-numbers">Enligt WHO</a> 
            står dessa typer av folksjukdomar för tre fjärdedelar av alla dödsfall i världen och är därför ett 
            viktigt område att forska i för att hitta bl.a. riskfaktorer och bekämpningsmöjligheter.
          </p>

          <h3 class="h2__proj">Världen</h3>
          <p>
            Vi kan börja med att titta på hur statistiken ser ut i hela världen. På grafen nedanför kan vi 
            se en minskning på runt 4% på bara 20 år.
          </p>
        </div>
      </div>

      <div id="chart2" class="chart"></div>

      <div class="container__content">
        <div class="content__block">
          <h3 class="h2__proj">Sverige</h3>

          <p>
            Om vi sedan tittar på statistiken i Sverige kan vi se en liknande minskning på runt 4% de senaste
            20 åren.
          </p>
        </div>
      </div>
      
      <div id="chart1" class="chart"></div>

      <div class="container__content">
        <div class="content__block">
          <h3 class="h2__proj">Världen & Sverige</h3>

          <p>
            För att få en bättre bild över jämförelsen mellan hela världen och Sverige kan vi ta en titt 
            på grafen nedan. Världen är i grönt medan Sverige är i blått.
          </p>
        </div>
      </div>

      <div id="chart3" class="chart"></div>

      <div class="container__content">
        <div class="content__block">
          <h2 class="h2__proj">Spädbarnsdödlighet</h2>
          
          <p>
            Spädbarnsdödlighet är en annan viktig punkt när det kommer till hälsa i världen. 
            <a href="https://www.who.int/data/gho/data/themes/topics/indicator-groups/indicator-group-details/GHO/infant-mortality">Enligt en uppskattning 
            av WHO</a> har spädbarnsdödligheten minskat från 8.7 miljoner till 4.0 miljoner globalt 2018.
          </p>

          <h3 class="h2__proj">Världen</h3>
          <p>
            
          </p>
        </div>
      </div>

      <div id="chart4" class="chart"></div>
      <div id="chart5" class="chart"></div>
      <div id="chart6" class="chart"></div>

    </div>
  </section>

  <script>
    function rawDataArrayToDataPoints(arr) {
      const data = arr.map((item) => {
        return item["data"]
      });

      return data;
    }

    // Raw from DB
    const swedenDiseaseRawData = {{ dataSwedenDisease|raw }};
    const worldDiseaseRawData = {{ dataWorldDisease|raw }};
    const swedenInfantRawData = {{ dataSwedenInfant|raw }};
    const worldInfantRawData = {{ dataWorldInfant|raw }};

    // Convert to data points array
    const dataSwedenDisease = rawDataArrayToDataPoints(swedenDiseaseRawData);
    const dataWorldDisease = rawDataArrayToDataPoints(worldDiseaseRawData);
    const dataSwedenInfant = rawDataArrayToDataPoints(swedenInfantRawData);
    const dataWorldInfant = rawDataArrayToDataPoints(worldInfantRawData);

    // Disease
    const swedenDiseaseChartOptions = {
      chart: {
        type: "line",
      },
      series: [
        {
          name: "Sweden",
          data: dataSwedenDisease,
        },
      ],
      xaxis: {
        categories: [2000, 2005, 2010, 2015, 2020],
      },
      yaxis: {
        min: 0,
        max: 15,
      },
    };

    const swedenDiseaseChart = new ApexCharts(document.querySelector("#chart1"), swedenDiseaseChartOptions);
    swedenDiseaseChart.render();

    var worldDiseaseChartOptions = {
      chart: {
        type: 'line'
      },
      series: [{
        name: 'World',
        data: dataWorldDisease
      }],
      xaxis: {
        categories: [2000, 2005, 2010, 2015, 2020]
      },
      yaxis: {
        min: 0,
        max: 30,
      }
    }

    const worldDiseaseChart = new ApexCharts(document.querySelector("#chart2"), worldDiseaseChartOptions);
    worldDiseaseChart.render();

    const bothDiseaseChartOptions = {
      chart: {
        type: 'line'
      },
      series: [{
        name: 'World',
        data: dataWorldDisease
      }, {
        name: 'World',
        data: dataWorldDisease
      }],
      xaxis: {
        categories: [2000, 2005, 2010, 2015, 2020]
      },
      yaxis: {
        min: 0,
        max: 30,
      }
    }

    const bothDiseaseChart = new ApexCharts(document.querySelector("#chart3"), bothDiseaseChartOptions);
    bothDiseaseChart.render();

    // Infant
    var swedenInfantChartOptions = {
      chart: {
        type: 'line'
      },
      series: [{
        name: 'Sweden',
        data: dataSwedenInfant
      }],
      xaxis: {
        categories: [2000, 2005, 2010, 2015, 2018]
      },
      yaxis: {
        min: 0,
        max: 10,
      }
    }

    const swedenInfantChart = new ApexCharts(document.querySelector("#chart4"), swedenInfantChartOptions);
    swedenInfantChart.render();

    var worldInfantChartOptions = {
      chart: {
        type: 'line'
      },
      series: [{
        name: 'World',
        data: dataWorldInfant
      }],
      xaxis: {
        categories: [2000, 2005, 2010, 2015, 2018]
      },
      yaxis: {
        min: 0,
        max: 60,
      }
    }

    const worldInfantChart = new ApexCharts(document.querySelector("#chart5"), worldInfantChartOptions);
    worldInfantChart.render();

    var bothInfantChartOptions = {
      chart: {
        type: 'line'
      },
      series: [{
        name: 'Sweden',
        data: dataSwedenInfant
      },{
        name: 'World',
        data: dataWorldInfant
      }],
      xaxis: {
        categories: [2000, 2005, 2010, 2015, 2018]
      },
      yaxis: {
        min: 0,
        max: 60,
      }
    }

    const bothInfantChart = new ApexCharts(document.querySelector("#chart6"), bothInfantChartOptions);
    bothInfantChart.render();

  </script>
{% endblock %}