{% extends "base.html.twig" %}

{% block title %}Card Deck{% endblock %}

{% block body %}
    <h1>Deck</h1>
    <p>Här är hela kortleken</p>

    <div class="cards">
    {% for card in cards %}
      <div class="card {{card["colorString"]}}">
        <div class="card__item">{{ card["suitString"] }}</div>
        <div class="card__item">{{ card["valueString"] }}</div>
        <div class="card__item">{{ card["suitString"] }}</div>
      </div>
    {% endfor %}
    </div>
{% endblock %}