{% extends "base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>TwentyOne</h1>
    <p>Här kan du spela spelet 21. Detta spel går ut på att dra kort ur en kortlek och försöka komma så nära 21 som möjligt.</p>

    <p>Korten är värda sitt värde 2-13, med undantag Ess som är värt antingen 1 eller 14.</p>

    <nav>
      <a href="{{ path('gameDraw') }}">Starta spelet</a>
      <a href="{{ path('gameDoc') }}">Dokumentation</a>
    </nav>

    
{% endblock %}