{% extends "base.html.twig" %}

{% block title %}Om{% endblock %}

{% block body %}
    <h1>Om</h1>
    <p>Denna kurs fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP.</p>

    <a href="https://github.com/dbwebb-se/mvc">Kursens Github-repo</a>

    <img src="{{ asset('img/genart.jpg') }}" alt="">
{% endblock %}