{% extends "base.html.twig" %}

{% block title %}Lucky{% endblock %}

{% block body %}
    <h1>Lucky</h1>
    <p>Här får du ett magiskt nummer</p>
    <p class="number">{{ number }}</p>
{% endblock %}